.card {
  width: 13rem;
  height: 100%;
  border-radius: 10px;
  background-color: #ececec;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: top center;
  border-radius: 10px 10px 0 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}

.card h3 {
  color: #30434b;
}

.card h5 {
  color: #606060;
}
